* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3c96ed;
}

body {
  background: #fafafa;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#wrapper {
  height: 100vh;
}

.main-container {
  display: flex;
  width: 800px;
  align-items: center;
  margin: 0 auto;
  min-height: 100%;
}

.column {
  flex-grow: 1;
  width: 50%;
}

.left {
  background-image: url("assets/main-foto.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  margin-bottom: 50px;
}

.right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}


/* START LOGIN CONTENT */
.login-box {
  padding: 0 0 20px 0;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e6e6e6
}

.logo-img {
  width: 250px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  width: 320px;
}

.login-form input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  width: 320px;
}

.login-form input::placeholder {
  color: #999999;
  font-size: 13px;
  font-weight: normal;
}

.login-form input[type="submit"] {
  background-color: #3c96ed;
  border: 0;
  border-radius: 4px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  width: 320px;
}

/* END LOGIN CONTENT */

/* START SIGNUP CONTENT */
.new-box {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  border: 1px solid #e6e6e6;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.new-box a {
  font-weight: bold;
}

/* END SIGNUP CONTENT */


/* START APP STORE CONTENT */
.stores {
  margin-top: 20px;
  text-align: center;
}

.app-buttons {
  margin-top: 16px;
}

.app-buttons img {
  height: 40px;
  padding: 0 2px;
}

/* END APP STORE CONTENT */

/* START FOOTER CONTENT */
footer {
  text-align: center;
  height: 50px;
  margin-top: -50px;
}

footer a {
  margin-right: 8px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.text-small {
  font-size: 12px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
  padding-left: 20px;
  display: inline-block;
}

/* END FOOTER CONTENT */
/*---------------------------------------*/

/* START SIGNUP PAGE CONTENT */
.signup-container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 400px;
  margin: auto;
}

.message {
  margin: 0 70px 10px 70px;
}

.message span {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #8e8e8e;
}

.cta-button {
  width: 320px;
  margin: 10px 0;
  height: 35px;
  background-color: #3c96ed;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.divisor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.line {
  height: 1px;
  background-color: #e6e6e6;
  width: 35%;
}

.divisor-tag {
  font-weight: bold;
  margin: 0 2.5%;
  color: #8e8e8e;
  user-select: none;
}

.signup-form input[type="text"] {
  margin-top: 10px;
}

/* FIM PAGINA SIGNUP */

/* RESPONSIVIDADE */
@media (max-width: 850px) {
  .left {
    display: none;
  }

  .main-container {
    width: 70%;
  }

  .right {
    padding-left: 0;
  }
}

@media (max-width: 560px) {
  .main-container {
    width: 90%;
  }

  .container-signup {
    width: 90%;
  }

  input[type="password"],
  input[type="text"],
  input[type="submit"] {
    width: 85%;
  }

  .cta-button {
    width: 85%;
  }

  .message {
    margin: 10px 25px;
  }
}